/* Par défaut, le site affiche les écrans mobiles 600px, first breakpoint 500px, 800px */

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Recursive&display=swap');

/* KEYFRAMES FOR TRANSLATE FOOTER PROFIL */
@keyframes slideName {
    from {
        transform: translateX(0);
    }
    12.5% {
        transform: translateX(-12.5rem);
    }
    25% {
        transform: translateX(-25rem);
    }
    37.5% {
        transform: translateX(-37.5rem);
    }
    50% {
        transform: translateX(-37.5rem);
    }
    62.5% {
        transform: translateX(-25rem);
    }
    75% {
        transform: translateX(-12.5rem);
    }
    87.5% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}

html, body {
  font-family: 'monospace';
  padding: 0;
  margin: 0;
}

body {
background-color: #F7E1D7;
}

.logo {
  text-align: left;
  background-color: #F7E1D7;
  font-family: 'monospace';
  margin: 0;
  padding: 0;
}

/* Styles du header */
header {
    color: black;
    font-family: monospace;
    font-size: 18px;
    background-color: #F7E1D7;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F7E1D7;
}

/* Style du logo */

.logo img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  width: 120px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;

}

/* Styles des icônes de mood */

.mood img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  margin-top: 20px;
  text-align: left;
  cursor: pointer;
}

/*Style des icônes de mood en gris*/
.mood img.grayed {
    filter: grayscale(100%)
}

/*Style heure*/
.currentTime {
    font-size: 30px;
    font-family: monospace;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

/*Sytle date*/
.currentDate {
    font-size: 17px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 75px;
}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
}

.content {
  text-align: center;
  padding: 20px;
}

.title-h1 h1 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.title-h1 {
    display: flex;
    justify-content: center;
    color: black;
    background-color: #EDAFB8;
    box-sizing: content-box;
    margin: 0 1.5rem;
}

.dropdown-menu-content {
  display: none;
  list-style: none;
  background-color: rgba(179, 154, 154, 0.123);
  width: 70px;
  text-align: center;
}

.dropdown-menu-content li {
  margin-bottom: 10px;
}

.visible {
  display: block;
  display: none;
  list-style: none;
  background-color: gold;
  width: 70px;
  text-align: center;
}

.post-it {
   box-shadow: 7px 7px 10px 0px #000000;
   background-color: gold; 
   border-radius: 16px;
   margin-left: 4rem;
   margin-right: 4rem;
   min-height: 20rem;
}

.post-its {
    /* Ajoutez des styles pour .post-its si nécessaire */
}

.buttonadd {
  background-color: rgb(236, 238, 235);
  display: flex;
  justify-content: center;
  box-shadow: 7px 7px 10px 0px #000000;
}

.visible {
    display: block;
}

/* grid pour les posts it, class post-Its avec un de largeur */

/* ----------------------FOOTER STYLE------------------------------- */

.footer_class {
    background-color: #EDAFB8;
    display: flex;
    width: 100%;
    height: 15vh;
    font-family: 'Recursive', sans-serif;
}

.dark_tray {
    width: 0.5vw;
    background-color: black;
    border-radius: 10px;
    margin: 0.5rem 0;
}

.left_section, .right_section {
    max-width: 50vw;
}

.right_section {
    display: flex;
    line-height: 0.3rem;
    align-items: center;
    overflow: hidden;
    width: 12.5rem;
}

.right_section div {
    min-width: 12.5rem;
    max-width: 12.5rem;
    font-size: 0.8rem;
    animation: slideName 30s infinite;
}

.right_section div:nth-child(1) {
    padding-left: 1rem;
}
/* Media query pour des écrans en dessous de 600px */
@media screen and (max-width: 600px) {
    .mood {
        text-align: center;
        width: 20%;
    }

    .currentDateAndTime {
        text-align: center;
        width: 20%;
    }

    .mood img {
        width: 20%;
    }
    /* Ajoutez vos styles pour les écrans en dessous de 600px ici */
}

/* Media query pour des écrans au-dessus de 1200px */
@media screen and (min-width: 1200px) {
    /* Ajoutez vos styles pour les écrans au-dessus de 1200px ici */
}