/* Réinitialisation des styles par défaut */
body {
    background-color: #F7E1D7;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* Styles du header */
header {
    color: black;
    font-family: monospace;
    font-size: 18px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Style du logo*/
.logo img {
    width: 120px;
    height: auto;
    margin-left: 20px;
    margin-top: 20px;
}

/* Styles des icônes de mood */
.mood img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    
}

@media (max-width: 640px) {
    .logo img {
        width: 100px;
    }

    .mood img {
        width: 50px;
    }
}





 footer {
    position: absolute;
    bottom: 0;
    background-color: #EDAFB8;
    font-family: 'Courier New', Courier, monospace;
 }

.dropdown-menu-content {
    display: none;
    list-style: none;
    background-color: rgba(179, 154, 154, 0.123);
    width: 70px;
    text-align: center;
}

.dropdown-menu-content li {
    margin-bottom: 10px;
  }

.visible {
    display: block;
}

.post-its {

}

.post-it {
    background-image: url("https://https://tinyurl.com/ypwkaaxj.com/5ae2uspa") ;
}

.buttonadd {
    background-color: rgb(236, 238, 235);
    display: flex;
    justify-content: center;

}



/* grid pour les posts it, class post-Its avec un de largeur 



/* media query pour des écrans en dessous de 600px */

@media screen and (max-width: 600px) { 

};


/* media query pour des écrans au dessus de 1200px */

@media screen and (min-width: 1200px) { 

};

